LetsStayConsistent/bin/LetsStayConsistent.dll
LetsStayConsistent/bin/LetsStayConsistent.pdb
LetsStayConsistent/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LetsStayConsistent/obj/Debug/LetsStayConsistent.csproj.GenerateResource.cache
LetsStayConsistent/obj/Debug/LetsStayConsistent.csprojAssemblyReference.cache
LetsStayConsistent/obj/Debug/LetsStayConsistent.dll
LetsStayConsistent/obj/Debug/LetsStayConsistent.pdb
LetsStayConsistent/.vs/LetsStayConsistent/v16/Server/sqlite3/storage.ide-wal
LetsStayConsistent/.vs/LetsStayConsistent/v16/Server/sqlite3/storage.ide-shm
LetsStayConsistent/.vs/LetsStayConsistent/v16/.suo
LetsStayConsistent/.vs/LetsStayConsistent/v16/Server/sqlite3/storage.ide
LetsStayConsistent.Tests/obj/Debug/LetsStayConsistent.Tests.csproj.FileListAbsolute.txt
LetsStayConsistent.Tests/obj/Debug/LetsStayConsistent.Tests.csprojAssemblyReference.cache
